@charset "utf-8";
/* CSS Document */

#wrapper {
margin: auto;
width: 1200px;

border: 1px solid none;
}


#headeratas {
	
	margin:auto;
	height:50;
	background-color:#CCCC99;
	//background-image:url(gambar/PVC-font-b-Wood-b-font-Wall-Paper-3D-Chinese-Wallpaper-Stone-font-b-Plank-b.jpg);
	padding-bottom: 30 px;
	border-top-right-radius:50px;
	border-top-left-radius:50px;
	border-top-style:outset;
	
	}

#header {
height: 230px;
border: 0px solid #CCC;
background:url(gambar/#headeratas {
	
	margin:auto;
	height:50;
	background-color:#CCCC99;
	//background-image:url(gambar/PVC-font-b-Wood-b-font-Wall-Paper-3D-Chinese-Wallpaper-Stone-font-b-Plank-b.jpg);
	padding-bottom: 30 px;
	border-top-right-radius:50px;
	border-top-left-radius:50px;
	border-top-style:outset;
	
	}

#header {
height: 230px;
border: 0px solid #CCC;
background:url(gambar/bannercoba.jpg);
}
.jpg);
}


#headerbawah {
	
	margin:auto;
	height:27;
	//background-color:#ccc;
	background-color:#CFC;
	padding-bottom: 30 px;
	
	}
	
#inner {
float: left;
margin: 5px 0;
border: 1px solid none ;
height:1010px;

}

#sidebar {
float: left;
margin-right: 10px;
width: 250px;
height: 980px;
border: 1px;
background-color:#CCCC99;
border-top-left-radius:10px;
border-bottom-left-radius:10px;
border-top-right-radius:10px;
border-bottom-right-radius:10px;
}

.titlemenu {
font-weight: bolder;
	color:#630;
	background-color:#CFC;
	display: inline-block;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 20px;
	border-bottom-style:groove;
	border-top-right-radius:10px;
	height: 22px;
	width: 228px;
	
	
	text-align:center;
	border-left-width: 10px;
	border-left-style: solid;
	padding-bottom:8px;
	margin-left:15px;
	text-align:center;
	border-bottom-color:#630;
	border-top-color:#630;
	border-top-style:outset;
	margin-bottom:15px;
	border-bottom-width:12px;
	
	
		
	}



#inner2 {
float: left;
width: 938px;
height: 980px;
border: 1px solid none ;
}



#menu {
            background-color:#CCCC99;
            width : 938px;
            height : 40px;
            border-bottom : 1px solid #ccc;
			border-top-left-radius:10px;
			border-top-right-radius:10px;
        }
        
        #menu ul {
            padding:0;
            margin:0;
            list-style-type:none;
        }
         
        #menu ul li {
            float:left;
            position : relative;
        }
         
        #menu ul li a {
            display:block;
            padding:10px 20px;
            color:#600;
            text-decoration:none;
            font-family:"Copperplate Gothic Bold";
			
        }
         
        #menu ul li a:hover {
            background-color:#CFC;
			color:#000;
        }



#footer {
	color:#600;
	background-color:#CCCC99;
	//background-image:url(gambar/PVC-font-b-Wood-b-font-Wall-Paper-3D-Chinese-Wallpaper-Stone-font-b-Plank-b.jpg);
	float:left;
	width:938px;
	height:35px;
	font-family:"Comic Sans MS", cursive;
	font-size:14px;
	border-top-width:medium;
	border-top-style:solid;
	border-top-color:#cccccc;
	text-align:center;
	background-position:bottom;
	
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	
}



	#content {
	float:left;
	width:928px;
	//height:auto;
	height:900px;
	margin-right:10px;
	border: 0px solid none;
	background-color:#FFFFFF;
	margin-right: 10px;
	padding-left: 5px;
	padding-right: 5px;
	
}


#form-login { width:214px; margin:0 auto; padding:14px; background-color:#996; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:5px;border:1px solid #666; text-align:center;font-size: small; font-family: "Lucida Grande","Lucida Sans Unicode", Tahoma, sans-serif; letter-spacing: .01em; color:#333; } 

div#form-login form { margin:0;padding:1;border-radius:1px; -moz-border-radius:1px; -webkit-border-radius:1px;border:1px solid #666; background-color:#FFFFCC; -webkit-box-shadow: rgba(0,0,0,0.1o) 9px 9px 10px; -moz-box-shadow: rgba(0,0,0,0.10) 5px 5px 10px; box-shadow: rgba(0,0,0,0.15) 5px 5px 10px; }

div#form-login form label { float:left; width:130px;}
div#form-login form .txt { padding:3px;margin:1px;} 
div#form-login h1 { font:20px "Trebuchet MS"; border-bottom:1px dotted #009900;padding:5px;margin:10px;} 
div#tombol { clear:both;padding:10px;} .button{ box-shadow: rgba(0,0,0,0.1) 0px 1px 1px;padding:3px 20px; } .button:hover,.button:focus{ color: #000; -webkit-box-shadow: rgba(0,0,0,0.25) 1px 1px 3px; -moz-box-shadow: rgba(0,0,0,0.25) 1px 1px 3px; box-shadow: rgba(0,0,0,0.25) 1px 1px 3px; } 

/*-----menu cari atas*/


	
	
.top_search {
	position:absolute;
	top:15px;
	right:15px;
	width:300px;}

.top_search fieldset {
    width:300px;
    position:relative;
    display:block;
	border:none;
	padding:0;
	margin:0;}

.top_search .input {
    width:110px;
    padding:0 15px 0 28px;
    border-radius:20px;
    border:1px solid #151515;
    border-bottom:1px solid #363637;
    box-shadow:inset 0 1px 1px rgba(0,0,0,0.3);
    float:right;
    background:#000;
	background-image:url(images/search-icon.png);
	background-position:10px 6px;
	background-repeat:no-repeat;}

.top_search .input.focus {
	border:1px solid #a4a4a4;
	box-shadow:0 0 1px #282828, inset 0 1px 1px rgba(0,0,0,0.3);
	background-image:url(images/search-icon2.png);
	background-position:9px 5px;}

.top_search input#s {
    width:100%;
	padding:0;
    border:0;
    border-radius:20px;
    background:transparent;
    height:24px;
	line-height:24px;
    color:#646464;
	font-size:12px;
	font-family:'LatoBold', Arial, Helvetica, sans-serif;}

.top_search input#s:focus {
    outline:none;}

.top_search #searchSubmit {
    width:13px;
    height:13px;
    text-indent:-9999px;
    overflow:hidden;
    border:0;
    position:absolute;
    top:5px; 
	left:9px;
    z-index:5;
	background:transparent;
    display: none;
    cursor:pointer;
}



#logo {
	height: 130px;
	margin: 0px auto;
	text-transform: uppercase;
	background-repeat: no-repeat;
	background-position: left top;
}

#logo h1 a {
	display: block;
	margin: 0px;
	padding: 10px 0px 0px 0px;
	letter-spacing: -3px;
	font-size: 48px;
	color: #002245;
}

#logo p {
	margin: -10px 0px 0px 5px;
	padding: 0px;
	font-size: 12px;
}

#logo a {
	text-decoration: none;
	color: #002245;
}

h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	
	
}



p, ol, ul {
	margin-top: 0px;
}

p {
	line-height: 200%;
}




<!--coba-->



#tanggal{
		background:#24a0af;
		height:20px;
		float:right;
		padding-right: 25px;
		padding-top: 3px;
}



